@import "../../global.scss";
.information {
  background-color: aqua;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: $mainColor;
  padding-left: 25px;
  h1 {
    font-size: 50px;
    
    @include mobile{
      font-size: 20px;
    }
  }
  .signature {
    font-family: 'Sacramento';
  }
  .description {
    font-size: 20px;
    width: 60%;
    @include mobile{
      font-size: 15px;
    }
  }
  .about-info {
    font-weight: 500;
  }
  .container{
    display: flex;
  }
  .border-customizada {
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(to right, #000080, #4169E1) 1;
    padding: 20px;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .icon-girando {
    animation: rotate 2s linear infinite;
  }
}